/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/local/
/more/
.vs*

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~

!LICENSE

MANIFEST

/_build_params

MYMETA.*

/Brocken-*

# ELF written to the repo root by t/000_basic/000_init.t
/pulse_output

test-output-*/
fum_test.wasm
gh_run_*.log
status-files/
wasm_hex_dbg.txt

.tidyall.d/
*.gz
*.zip
temp/
t/dev/

eg/*.pl
eg/lib/*.pm

*.session

*.txt
*.exe
